@import "header";
@import "sideBar";
@import "./UI/window";
@import "./UI/modal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #FFFFFF;
  scrollbar-width: thin;
  scrollbar-color: rgba(169, 169, 169, 0.5) #21272E;
}

body {
  background-color: #1B2126;
}
label {
  display: flex;
  gap: 5px;
  align-items: center;
}
input, textarea {
  accent-color: rgb(0, 236, 130);
  color: #1B2126;
  font-weight: 700;
  padding-left: 5px;
}
p, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
