@import "header";
@import "sideBar";
@import "./UI/window";
@import "./UI/modal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #FFFFFF;
}

body {
  background-color: #1B2126;
}
